
 <!-- <app-user></app-user> 
<app-user></app-user>  -->
<!-- {{title}}
{{name}} -->
<!-- <br> -->
<!-- {{helloMessage()}}  -->
<!-- load from app.componet.ts -->
<!-- <div class="app-user"></div> -->
<!-- <div app-user></div> -->
<!-- <app-inline></app-inline> -->

<!-- intrpolation commonet -->
<!-- <app-interpolation> </app-interpolation> -->

<!-- events and binding -->
<!-- <app-events></app-events> -->

<!-- bindings -->
<!-- <app-bindings> </app-bindings> -->
<!-- ng-class-dir -->
<!-- <app-ng-class-dir> </app-ng-class-dir> -->

<!-- style binding -->
<!-- <app-style-binding> </app-style-binding> -->

<!-- template-refrence -->
<!-- <app-template-refrence></app-template-refrence> -->

<!-- template-refrence -->
<!-- <app-struture-directives></app-struture-directives> -->



<app-add-workout></app-add-workout>
<app-workout-list></app-workout-list>
